body, html
	margin: 0
	padding: 0
	overflow-x: hidden
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.brand-logo
	margin-left: 15px

ul
	a
		&.active
			background-color: rgba(0,0,0,0.1)

.my-icon
	display: inline-block
	background-color: transparent!important
	background-size: cover
	background-repeat: no-repeat
	&.facebook
		background-image: url("/images/social-network-icons/facebook.png")
	&.snapchat
		background-image: url("/images/social-network-icons/snapchat.png")
	&.instagram
		background-image: url("/images/social-network-icons/instagram.png")

div.profile-pic
	background-size: cover
	border: 1px solid black
	position: relative
	margin-top: -150px
	z-index: 999
	width: 100%
