@-webkit-keyframes bouncing_bottom
	0%
		bottom: var(--max-bottom)
	50%
		bottom: var(--middle-bottom)
	100%
		bottom: var(--min-bottom)

@-webkit-keyframes bouncing_top
	0%
		bottom: var(--min-bottom)
	50%
		bottom: var(--middle-bottom)
	100%
		bottom: var(--max-bottom)

body, html
	margin: 0
	padding: 0
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	overflow: hidden

.loader
	display: block
	position: fixed
	z-index: 999
	top: 0
	left: 0
	right: 0
	height: 100%

	.lds-heart
		display: inline-block
		position: relative
		width: 64px
		height: 64px
		transform: rotate(45deg)
		transform-origin: 32px 32px

	.lds-heart div
		top: 23px
		left: 19px
		position: absolute
		width: 26px
		height: 26px
		background: #fff
		animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1)

	.lds-heart div:after,
	.lds-heart div:before
		content: " "
		position: absolute
		display: block
		width: 26px
		height: 26px
		background: #fff

	.lds-heart div:before
		left: -17px
		border-radius: 50% 0 0 50%

	.lds-heart div:after
		top: -17px
		border-radius: 50% 50% 0 0

	@keyframes lds-heart
		0%
			transform: scale(0.95)
		5%
			transform: scale(1.1)
		39%
			transform: scale(0.85)
		45%
			transform: scale(1)
		60%
			transform: scale(0.95)
		100%
			transform: scale(0.9)


.brand-logo
	margin-left: 15px

ul
	a
		&.active
			background-color: rgba(0,0,0,0.1)


.my-icon
	display: inline-block
	background-color: transparent!important
	background-size: cover
	background-repeat: no-repeat
	&.facebook
		background-image: url("/images/social-network-icons/facebook.png")
	&.snapchat
		background-image: url("/images/social-network-icons/snapchat.png")
	&.instagram
		background-image: url("/images/social-network-icons/instagram.png")


div.profile-pic
	background-size: contain
	background-repeat: no-repeat
	background-position: center
	background-color: white
	border: 1px solid black
	position: relative
	margin-top: -150px
	width: 100%
	overflow: hidden
	.profile-pic-toolbar
		--min-bottom: -50px
		--middle-bottom: -25px
		--max-bottom: 0

		position: absolute
		z-index: 998
		bottom: -50px
		right: 0
		left: 0
		height: 50px
		background: rgba(0, 0, 0, 0.5)
		&.animation-top
			animation: bouncing_top 1s ease-in
			bottom: var(--max-bottom)
		&.animation-bottom
			animation: bouncing_bottom 1s ease-out
			bottom: var(--min-bottom)

.logout-btn
	position: absolute
	left: 170px
	bottom: 15px

.messages
	.message
		border: 1px solid black
		min-height: 50px

		-webkit-border-radius: 10px 10px 10px 10px
		-moz-border-radius: 10px 10px 10px 10px
		border-radius: 10px 10px 10px 10px
		&.last
			margin-top: 5px
			margin-bottom: 15px
		&.me
			&.last
				-webkit-border-radius: 10px 10px 0 10px
				-moz-border-radius: 10px 10px 0 10px
				border-radius: 10px 10px 0 10px
		&.you
			&.last
				-webkit-border-radius: 10px 10px 10px 0
				-moz-border-radius: 10px 10px 10px 0
				border-radius: 10px 10px 10px 0

